
#run pip install -r requirements.txt
#Huggingface Transformers: generation w LLMsnecessary libraries:
#transformers bitsandbytes>=0.39.0

#LDA reqs:
cufflinks==0.17.3
imbalanced-learn==0.8.1
matplotlib==3.5.1
numpy==1.26.4
pandas==1.4.0
plotly==5.22.0
scikit-learn==1.4.2
spacy==3.7.4
textblob==0.18.0
pillow>=8.2.0
wordcloud>=1.8.1

